body {
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
button {
    font-family: 'Varela Round', sans-serif;
    align-self: stretch;
    padding: 8px;
    border-radius: 5px;
    border: none;
    font-size: 2.2rem;
}
button:hover {
    cursor: pointer;
}

.hidden {
    display: none !important;
}
#room-code-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    width: 100%;
}
.form-error {
    font-size: 0.9rem;
    color: red;
    margin: -20px 0 15px 15px;
    align-self: flex-start;
}
#room-code-form label {
    font-size: 1.2rem;
    align-self: flex-start;
    color: #066653;
    font-weight: bold;
    margin: 0 14px 5px;
}
input {
    font-family: 'Varela Round', sans-serif;
    padding: 2px 5px;
    width: 90%;
    font-size: 2.5rem;
    margin-bottom: 25px;
    text-transform: uppercase;
    border-radius: 5px;
    color: #066653;
    border: 1px solid #066653;
}
button {
    background-color: #066653;
    margin: 20px 10px;
}
button.disabled {
    pointer-events: none;
    opacity: 0.5;
}
#room-code-form button {
    color: white;
    background-color: #066653;
}
#game-content button {
    color: #066653;
    background-color: white;
}

#name-bar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.6rem;
    padding: 10px;
    width: 100%;
    background-color: white;
    text-transform: uppercase;
}
#name-bar .fas {
    font-size : 2.2rem;
    margin-bottom: 5px;
    margin-left: 7px;
}

#game-debate {
    position: absolute;
    color: white;
    background-color: #066653;
    width: 100%;
    height: 100%;
}
#game-debate #name-bar {
    color: #066653;
}
#game-debate #pre-game {
    margin: 0 15px;
}
#game-debate p {
    font-size: 1.8rem;
}
#all-in-button {
    font-size: 1.5rem;
    color: #066653;
    background-color: white;
    margin: 10px;
    padding: 10px;
}

@media screen and (min-width: 800px) {
  #room-code-form {
    margin: 30px auto;
    max-width: 200px;
  }
  #room-code-form label {
      font-size: 1rem;
      margin: 0 0 2px;
  }
  input {
    font-size: 2rem;
    width: 195px;
    margin-bottom: 15px;
  }
  .form-error {
      margin: -10px 0 10px 0;
  }
  #room-code-form button {
    font-size: 1.4rem;
    margin: 10px 0;
  }
}
